manifest.mainScript = 'sgrna_characterization.nf'

executor {
	cpus = 8
	memory = '10GB'
}

params {
	//Path to input data --> sgRNA fasta file
	input_fasta = './data/library.fa'
	//output directory
	publish_dir= "./results"
	//Path to GRCh38 reference fasta file for 
	reference = "ref/GRCh38.p13.genome.fa"
	//Path to GTF annotation file
	gtf_file = "ref/gencode.v43.chr_patch_hapl_scaff.annotation.gtf"
	//path to custom python scripts
	check_ann_script="scripts/check_annotation.py"
	filter_tcga_script="scripts/filter_tcga_data.py"
	long_to_wide_matrix="scripts/format_final_matrix.py"
	//path to hgnc table to translate gene symbol to hgnc_id to improve 
	//gene matches between sequence ID gene and annotated gene
	hgnc_table="ref/hgnc_complete_set_2021-03-01.txt"
	mapping_threads=8
	//tuple of sample id + uuid of rna-seq data
	tcga_samples=[['TCGA-A7-A13D-01A-13R-A12P-07','50c7c034-fccb-4eb1-b8db-e0a5d9e50172'],['TCGA-E9-A1RH-11A-34R-A169-07','958813f4-8036-42f7-856d-7a69c4175adc']]
}

process {
	//download through docker pull mxdistefano/sgrna_tools:latest
	//or build dockerfile from docker_image folder
    container = 'mxdistefano/sgrna_tools'
    cpus = 8
    memory = '10GB'
}


docker {
	enabled = true
	sudo = true
	runOptions = '-v $(pwd):/data'
	temp = 'auto'
}
